/**{
    border:2px solid red; !important
}*/

body {
    font-family:'Lato', sans-serif;
    font-size:1em;
    color:#777;
    font-weight:300;
    line-height:1.7;
    overflow-x:hidden;
}
 
h1,h2,h3,h4,h5,h6 {
    color:#fff;
    line-height:1.4;
    font-weight:700;
}
 
.mx-width {
    max-width:960px;
    margin:0 auto;
}
 
a,a:hover {
    color:#563d7c;
    text-decoration:none;
}
 
img{
  width:100%;
  max-width: 100%;
  height:auto;
}
 
.card-img-top{
  width:100%;
  height:auto;
}
 
/*header {
    padding-bottom:50px;
}*/

.under-construction{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    position: fixed;
    right: 0px;
    color: black;
    border: 2px dashed yellow;
    border-radius: 20px;
    box-shadow: 0 0 3pt 2pt black;
    padding: 10px;
    margin:5px;
    }

    #under-construction-sign{
        animation-duration: 5s;
        animation-delay: 0s;
    }

h3 span{
    display: block;
}

 
.display-2 {
    background-color: rgba(100, 83, 148, 0.7);
    width: 66.66vw;
    text-align: left;
}

.display-2.fixed{
    position: fixed;
    top: 0px;
}

.ss ul {
    padding: 0px;
}

.ss ul li{
    list-style: none;
    float: left;
    color: black;
    /*padding-left: 10px;
    padding-top: 5px;*/
    padding: 5px 20px 0px 10px;
}

.ss ul li p{
    font-family: "Lato";
    font-size: 0.875rem;
}

.SSSmenu {
    width: 66.66vw;
    text-align: left;
    font-family:'Lato';
    font-size:27px;
    line-height:1.4;
    font-weight:400;
    color:#fff;    
}

.SSSmenu ul{ 
    text-align: right; 
}

.SSSmenu ul li {
    text-align:center;
    display:inline-block;
    /*background:rgba(0,0,0,0.2);*/
    color:#fff;
    line-height:45px;
    margin: 0 4px;
    width:35px!important;
    height:35px!important;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.SSSmenu ul li:hover {
    background:#2a2a2a;
}

.SSSmenu ul li:hover a {
    color:#fff;
}

.SSSmenu ul li a {
    color:#fff;
    width:42px!important;
    height:42px!important;
}
 
.SSSmenu ul li a i {
    line-height:45px;
    color:#fff;
}
 
/*.SSSmenu p {
    color:#fff;
    font-size:.9em;
    line-height:24px;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
}*/
 
.SSSmenu a,.SSSmenu a:hover {
    color:#fff;
}

.mainmenu {
    font-family:'Lato';
    font-size:30px;
    line-height:1;
    font-weight:400;
    color:#fff;
    padding-bottom: 20px; 
    
}

.thin{
    font-family: "Lato"
    font-weight: 400;
    font-size: 0.8em;
}

.mainmenu ul {
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 0px;
}

.mainmenu ul li{
    padding-left: 15px;
    display: inline-block;
}

.mm{
    font-family: 'Patua One', cursive;
}
 
.jumbotron-fluid {
    padding:0;
}

.parallax {
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important;
    overflow:hidden;
}
 
.parallax-pattern-overlay {
    background-image:url(../img/pattern.png);
    background-repeat:repeat;
}

.heading {
    padding-bottom:15px;
    text-align:center;
    max-width:960px;
    margin:0 auto;
    padding-top:80px;
}
 
.heading h2 {
    font-weight:600;
    font-family:'Raleway';
    font-size:40px;
    color:#333;
    margin:0;
    padding:5px;
}
 
.heading h3 {
    font-size:1em;
    line-height:1.7;
}

.article-columns{
    padding: 0px;
    height: 100%;
}

.articles{
    border: 5px solid red; 
    height: 100%;
    z-index: -100;
}

.covers{
    height: 100%;
    position: relative;
    top: -100%;
}

.box{
    flex-grow: 1; 
    overflow:hidden;
}

#box-1-1{

}

.small-square{
    height: 33.33%;
    padding: 0px;
    margin: 0px;
    
}
.big-square{
    height: 66.66%;
    padding: 0px;
    margin: 0px;

    
}
.wide-rectangular{
    height: 33.33%;
    padding: 0px;
    margin: 0px;
    
}
.tall-rectangular{
    height: 66.66%;
    padding: 0px;
    margin: 0px;

}

.move-down{
    top: -100%;
}

#site-title {
    max-width:150px;
}



input.form-control {
    background:#fff;
    border:solid 1px #ddd;
    color:#000;
    padding:15px 30px;
    margin-right:3%;
    margin-bottom:30px;
    outline:none;
    border-radius: 0;
}
 
textarea.form-control {
    background:#fff;
    color:#000;
    border:solid 1px #ddd;
    padding:15px 30px;
    margin-bottom:40px;
    outline:none;
    height:200px;
    border-radius: 0;
}
 
button.contact.submit {
    background:#333;
    font-family:'Lato',sans-serif;
    color:#fff;
    font-size:1em;
    font-weight:400;
    text-align:center;
    margin:0;
    border:none!important;
    border-radius:3px;
    padding:15px 45px;
}
 
button.contact.submit:hover {
    background:#563d7c;
}
 
.form-control:focus{
    border-color: #563d7c;
    outline: 0;
}
 
.done {
    display:none;
}

.footer {
    background:#563d7c;
    margin-top:120px;
    position:relative
}
 
.footer .container {
    padding:60px 0 20px;
}
 
.footer ul {
    margin:0 auto;
    margin-bottom:30px;
    margin-top:10px;
    text-align:center;
    list-style-type:none;
    padding-left:0;
}
 
.footer ul li {
    text-align:center;
    display:inline-block;
    background:rgba(0,0,0,0.2);
    color:#fff;
    line-height:45px;
    margin:0 4px;
    width:45px!important;
    height:45px!important;
    -webkit-border-radius:3px;
    border-radius:3px;
}
 
.footer ul li:hover {
    background:#2a2a2a;
}
 
.footer ul li:hover a {
    color:#fff;
}
 
.footer ul li a {
    color:#fff;
    width:42px!important;
    height:42px!important;
}
 
.footer ul li a i {
    line-height:45px;
    color:#fff;
}
 
.footer p {
    color:#fff;
    font-size:.9em;
    line-height:24px;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
}
 
.footer a,.footer a:hover {
    color:#fff;
}

@media screen and (max-width:768px) {
 
input.contact.col-md-6{
    width:40.5%;
    margin: 15px 15px 0 58px;
}
 
textarea.contact.col-md-12 {
     margin: 15px 15px 0 58px;
}
 
button#submit.contact.submit{
    margin: 15px 15px 0 42px;
}
 
} 